html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  margin: 0;
}

.container {
  margin: 0 1rem;
}

hr {
  margin: 2rem 0;
}

br {
  clear: both;
}

a {
  color: #78a1bb;
  text-decoration: underline;
}

span {
  background-color: #f4f4f4;
}

.highlight {
  background-color: #ffffcc;
}

.addition {
  background-color: #ddffdd;
}

button {
  box-shadow: none;
  border: solid 2px;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin: 0.6rem 0;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 100;
  transition-duration: 0.3s;
}

nav {
  background-color: #32292f;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 0 2rem;
  z-index: 2;
}

nav img {
  width: 2.5rem;
  margin: 0.75rem 0;
}

nav button {
  background-color: #32292f;
  border-color: #f4f4f4;
  color: #f4f4f4;
  float: right;
}

nav button:hover {
  border-color: #78a1bb;
  color: #78a1bb;
}

.block-header {
  position: relative;
  z-index: -1;
  min-width: 100%;
  height: 25rem;
  overflow: hidden;
}

.block-header > img {
  filter: blur(4px);
  min-width: 100%;
  min-height: 25rem;
}

.block-header h1 {
  padding: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  font-size: 3rem;
  width: 18rem;
  margin: auto;
  text-align: center;
  color: #32292f;
  background-color: #fff;
  border-radius: 0.5rem;
}

.header {
  display: flexbox;
  margin-top: 4rem;
  position: relative;
}

.header p {
  color: #32292f;
  font-size: 1.5rem;
  text-align: center;
}

.qs img {
  width: 100%;
}

#content {
  width: 90%;
  margin: auto;
}

#outline {
  display: none;
  text-align: center;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 25%;
}

#outline::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#outline::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

#outline::-webkit-scrollbar-thumb {
  background-color: #abc;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}

#outline .card {
  margin: 0;
  padding: 0;
  width: 100%;
}

#outline .card p {
  margin: 1rem 0;
}

#documentation {
  width: 100%;
}

.card {
  padding: 2rem;
  padding-top: 3rem;
}

.card button {
  background-color: #fff;
  border-color: #78a1bb;
  font-size: 1rem;
}

.card button:hover {
  border-color: #000;
  color: #424d63;
}

.card h2 {
  color: #424d63bb !important;
  margin: 0;
}

.card p {
  color: #424d63bb;
  font-size: 1.2rem;
  margin: 0.2rem 0;
}

footer {
  background-color: #32292f;
  min-height: 10rem;
  margin-top: 5rem;
  padding: 2rem;
  color: #f4f4f4;
}

footer > p {
  color: #93a3b1;
}

@media screen and (min-width: 400px) {
  .block-header h1 {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .block-header {
    height: 20rem;
  }
  .block-header h1 {
    top: 45%;
    width: 35rem;
  }
  .container {
    width: 30rem;
    margin: auto;
  }
  #outline {
    display: block;
    float: left;
  }
  #documentation {
    float: right;
    width: 75%;
  }
  nav {
    padding: 0 3rem;
  }
  footer {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 768px) {
  nav {
    padding: 0 6rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 90%;
  }
  nav {
    padding: 0 8rem;
  }
  section {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1;
  }
  .card {
    margin: 1rem auto;
    width: 70%;
    text-align: center;
  }
  .doc {
    text-align: left;
  }  
  footer {
    padding: 2rem 15%;
  }
  footer hr {
    margin: 0 15%;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 80rem;
  }
}